<%= render 'layouts/header' %>

<div class="front-matter">
  <% if @user.is_admin? %>
    <h1>Welcome Back, Patissier(e)</h1>
    <h2>What would you like to do?</h2>
    <p><%= button_to "View / Manage Users", users_path, method: :get %></p>
    <p>(Insert commands for the patissiere...)</p>
  <% elsif @user.is_baker? %>
    <h1>Hey Baker!</h1>
    <h2>Let's Make Some Cookies!</h2>
    <p>(Insert commands for the baker...)</p>
  <% else # is a customer! %>
    <h1>Hello Valued Customer!</h1>
    <h2>Order Cookies</h2>
    <p>(Insert list of cookies here for them to buy!)</p>
    <ul></ul>
  <% end %>
  <p style="color: green;"><strong><%= flash[:notice] %></strong><p>
</div>
